/* 1 */
/* 1 */
/* 1 */
/* 1 */
/* 1 */
/* 1 */
/* style dyal header */
.maindiv{
    background-image: url('../images/5ff312d2e564b1442a90602bfa5e6d17.jpg');
    background-attachment: fixed;
    background-size: cover;
    
}
header{
    background-image: url('../images/ZACvjtD.jpg');
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 5px solid  #f442b6;
   
}
/* hna style dyal logo*/
#logo1{
    margin-top: 100px;
    margin-left: 60px;
    height: 200px;
    width: 400px;  
   
    background-attachment: fixed;
    background-size: cover;
    opacity: 1%;
    
}
/* hna style dyal register ou login*/
.login p{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.login{
    text-align: center;
   margin-right: 50px;
   position: relative;
    margin-top: -500px;
    margin-left: auto;
    top: 7%;
    width: 25%;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    border-radius: 7px;
    padding: 5px;
    opacity: 0.94;
}
.Register p{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.Register{
   text-align: center;
   margin-right: 50px;
   position: relative;
    
    margin-left: auto;
    top: 7%;
    width: 25%;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    border-radius: 7px;
    padding: 5px;
    opacity: 0.94;
   
}

input[type="text"], input[type="email"],input[type="password"],input[type="date"]{
	border:1px solid #fbe29c;
	margin-top: 5px;
	width: 70%;
	height: 35px;
	margin-bottom: 10px;
    padding-left: 5px;
}
input[type="text"]:hover,input[type="email"]:hover,input[type="password"]:hover {
    border-color: #3498db;
}
.custom-select{
    border:1px solid #fbe29c;
	margin-top: 5px;
	width: 70%;
	height: 35px;
	margin-bottom: 10px;
    padding-left: 5px;
}
#navbar-example2{
    position : fixed;
    position : relative;
    /* position :absolute; */

}
/*HNA STYLE DYAL IMAGES LIMAJMO3IN */
#carouselExampleIndicators{
    border: 10px solid #EDEDED;
    
    width: 600px; 
   margin-top: -400px;
   margin-left: 100px;
   padding-bottom:10px; 
    position : absolute;
    position : relative;
}
/* style dyal icone */
.icno i{
   
    font-size: 90px;
    color: red;
    margin-top: -215px;
    position : absolute;
   
}
.icno p{
    font-family: "Lucida Console", Monaco, monospace;
    margin-left: 100px;
   color: #EDEDED;
   font-size: 40px;
}



/* 2 */
/* 2 */
/* 2 */
/* 2 */
/* 2 */
/* 2 */
/* style dyal parti tanya */

.part2{
  
    background-image: url('../images/g1.jpg') !important;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 5px solid  #6a00ff;  
}
.part2 h1{
     text-align: center;
     color: #ffffff;
     font-weight: bold;
     font-size: 100px;
     padding-top: 50px;
     text-shadow: 2px 3px black;
     font-weight: bold;
}
.part2 h2{
    text-align: center;
    color: #ff00dc;
    width: bold;
}
.part2 p {
    text-align: center;
}
/* style dyal dyal h2 f bored part2 */
#bord h2{
    background-color: #999486;
    border: 1px solid #EDEDED;
    border-radius: 7px;
    padding: 5px;
    opacity: 0.9;
    
}
#bord p {
   font-size: 30px;
   font-family: "Comic Sans MS", cursive, sans-serif;
}
/* style dyal border liflkatba f part2 */
#bord{
    padding-top: 100px;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    border-radius: 7px;
    padding: 5px;
    opacity: 0.9;
    width: 25%;
    margin-top:100px;
    padding-bottom: 100px;
}
/* style dyal icon f part2 */
.part2 i {
    font-size: 150px;
    color: red;
    text-align: center;
    margin-left: 130px;
    margin-top: 80px;
}

/* 3 */
/* 3 */
/* 3 */
/* 3 */
/* 3 */
/* 3 */
/* style dyal parti talta */


.part3{
    background-image: url('../images/m4.jpg');
    border-bottom: 5px solid  #fcf9f9;
}
.img1{
    width: 70%;
     margin-left: auto;
     margin-right: auto;
     display:flex;flex-wrap: wrap;justify-content: space-between;
     background-color: #7b7e82;
     border: 5px solid #7b7e82;   
     opacity: 0.9;  
}
.img1 img{
    border: 2px solid #6a6b6d;
}

.img1 i{
    font-size: 40px;
    color: red;
    margin-top: 10px;
    position: absolute;
}
.im{
    background-color: #3d3b3b;
     border: 10px solid #3d3b3b ;
}
.img1 p{
    margin-left: 60px;
    color: #9e9a9a;
}

.img1 img{
    max-width: 194px;max-height: 260px;width: 100%;
}
.part3 h1{
    color: #f2f2f2;
  text-align: center;
  padding-top: 70px;
  text-shadow: 1px 2px black;
  font-weight: bold;
  font-size: 50px;
}
.fuk{
    padding-top: 100px;
    padding-bottom: 200px;
}
/* 4 */
/* 4 */
/* 4 */
/* 4 */
/* 4 */
/* 4 */
/* style dyal parti lakhr */

.last{
    text-align: center;
    color: black;
    margin-top: 300px; 
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    padding: 50px;
    opacity: 0.9;
}
.last img{
    margin-top: -50px;
    width: 100px;  
}
.last p{
    font-size: 10px;
}
