.maindiv{
    background-image: url('../images/5ff312d2e564b1442a90602bfa5e6d17.jpg');
    background-attachment: fixed;
    background-size: cover;
}
header{
    background-image: url('../images/ZACvjtD.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.logo1{
  


    
}