
font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
	line-height: 17px;
	background-color: #E6EAE8;
}
.top_bar {
  width: 100%;
  min-width: 1050px;
  height: 60px;
  background-color: #bd2975;
  border-bottom: 0.25em solid #f79200;;
  margin: 0 0 10px 0;
  position: fixed;
  z-index: 10;

}
#meet{
    font-family: 'Bellota-LightItalic',sans-serif;
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    top: 10px;
    text-shadow: #ff1313 1.5px 1.5px 1px;
    color: #584b4b;
    text-decoration: none;
}


#ser{
    width: 351px;
    background-color: azure;
    border-radius: 10px;
    margin-left: 170px;

}
a:hover {
    text-decoration: none;
}

nav{
	float: right;
	right: 1px;
	top: 10px;
	position: absolute;
	margin: 10px;
}

nav a{
    
   position: relative;
   color: #fff;
   text-decoration: none;
   font-size: 21px;

}
nav a:hover {
   border-bottom: 7px solid #e67e22;
   color: #ff0909;
}
.wrapper {
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10 px;
	width: 75%;
	min-width: 950px;
}
.column {
background-color: #fff;
padding: 10px;
border: 1px solid #D3D3D3;
border-radius: 5px;
box-shadow: 3px 3px 3px #D3D3D3;
z-index: -1;}


.user_details{
width: 230px;
float: left;
margin-bottom: 20px;

}
.user_details_left_right{
	width: 125px;
	display: inline-block;
	position: absolute;
}
.user_details img{
	height: 125px;
	border-radius: 5px;
	margin-right: 5px;
}
.main_column {
	float: right;
	width: 70%;
	z-index: -1;
	min-height: 160px;

}
.post_form{
	width: 100%;
}
.post_form textarea {
   width: 81%;
   height: 60px;
   border-radius: 3px;
   margin-right: 5px;
   border:1px solid #D3D3D3;
   font-size: 12px;
   padding: 5px;
}
textarea:focus {
	outline: 0;
}
.post_form input[type="submit"]{
    width: 11%;
    height: 60px;
    border:none;
    border-radius: 3px;
    background-color: #3498db;
    font-family: 'Bellota-LightItalic' sans-serif;
    color: #1E75CA;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
    font-size: 90%;
    position: absolute;
    outline: 0;
    margin: 0;
}
.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
	color: #fff;
}

.status_post {
	width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
}
.post_profile_pic {
	 float: left;
	 margin-right: 7px;
}
.post_profile_pic img{
	border-radius: 25px;
}

.ser{
    margin-left: 100px;
}



b{
    color: #fff;
}

#abdelali{
    font-family: 'Bellota-LightItalic',sans-serif;
    margin-left: 10px;
    font-size: 25px;
    position: relative;
    top: 3px;
    text-shadow:none;
    color: #584b4b;
    text-decoration: none;
}





/* 
 --------------------------------------------------------------------------------------------------------------------*/
/* 
 --------------------------------------------------------------------------------------------------------------------*/